.profile__add-button {
  border: solid 2px #fff;
  width: 150px;
  height: 50px;
  background: url(../../../images/plus.png) no-repeat center;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 480px) {
  .profile__add-button {
    width: 100%;
    height: 50px;
  }
}
