.popup__submit {
  height: 50px;
  background-color: #000;
  border: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.popup__submit:hover {
  opacity: .8;
}

.popup__submit_inactive {
  pointer-events: none;
  cursor: default;
  opacity: .2;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #000;
  color: #000;
}
