.elements__name {
  font-size: 24px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .elements__name {
    font-size: 22px;
  }
}

@media screen and (max-width: 480px) {
  .elements__name {
    font-size: 24px;
  }
}
